@media screen and (max-width: 959px) {

	.wrapper {
		width: 95%;
	}

	/*CONTAINER_1*/

	.container_1 {
		height: 798px;
	}

	.header {
	height: 244px;
	}

	.logo {
		float: none;
	}

	.menu {
	float: none;
	margin-top: 22px;
	}

	.arrow {
		width: 2%;
	}

	.slider__article{
		padding-top: 98px;
		margin-left: 24px;
		width: 38%;
	}
	
	.slider__title {
		font-size: 48px;
	}
	
	.slider__subtitle {
		overflow: hidden;
		margin-top: 8px;
		height: 26px;
		font-size: 24px;
	}

	.slider__text {
		overflow: hidden;
		height: 100px;
		line-height: 26px;
		font-size: 16px;
	}


	.slider__img {
		margin-top: -23px;
		margin-right: 15px;
		width: 39%;
	}

	.slider__img img {
		max-width: 100%;
	}

	.selector--dark {
		top: 437px;
		left: 524px;
	}

	/*CONTAINER_2*/
	
	.about {
		width: 23%;
		margin-left: 9%;
		margin-right: 2%;
	}

	.about__title {
		font-size: 24px;
	}

	.about__text {
		margin-top: 3px;
		height: 140px;
		overflow: hidden;
	}

	.about__readmore {
		margin: 12px 18px 0 0;
		font-size: 18px;
	}

	/*CONTAINER_3*/

	.testimonials {
		width: 44%;	
	}

	.testimonials__title {
		font-size: 24px;
	}

	.testimonials__title span {
		display: block;
	}

	.testimonials__text {
		padding-top: 7px;
		height: 140px;
		overflow: hidden;
	}
	
	.selector--light {
		left: 115px;
	}

	.updates {
		width: 46%;
	}

	.updates__topic,
	.updates__posted {
		display: block;
		height: 18px;
		line-height: 18px;
		overflow: hidden;
	}

	.updates__readmore {
		margin-top: 7px;
		margin-right: 14px;
	}

	/*CONTAINER_4*/

	.brands {
		margin-left: 0;
	}

	.brands__item {
		margin: 0 2.9%;
	}

	/*CONTAINER_5*/

	.prefooter {
		padding: 100px 0 96px;
	}

	.prefooter__box {
		width: 28%;
	}

	.prefooter__box--copyright {
		padding-right: 8%;
	}

	.prefooter__box--commentst {
		padding-right: 8%;
	}

	.prefooter__title {
		font-size: 24px;
	}

	.prefooter__box--copyright .prefooter__title {
		font-size: 24px;
	}

	.prefooter__box--copyright .prefooter__text {
		height: 166px;
	}
	
	.prefooter__subtitle {
		display: none;
	}

	.prefooter__text {
		height: 165px;
		overflow: hidden;
	}

	/*FOOTER*/

	.footer {
		height: 200px;
	}

	.menu--footer {
		margin: 0;
		padding-bottom: 37px;
	}

	.design {
		clear: both;
		margin-top: 0;
	}

}

@media screen and (max-width: 767px) {

	.wrapper {
		width: 92%;
	}
	
	/*CONTAINER_1*/

	.container_1 {
		height: 548px;
	}

	.header {
		height: 203px;
	}

	.logo {
		float: none;
		padding-top: 51px;
		margin: 0 auto;
		width: 155px;
	}

	.menu .menu__item {
		float: none;
		display: none;
	}

	.menu .menu__item:first-child {
		display: block;
		position: relative;
	}

	.menu {
		margin: 22px auto;
		width: 40px;
	}

	.menu .menu__item:first-child:hover .menu__link {
		opacity: 0;
	}

	.menu .menu__item:first-child:hover ul {
		display: block;
	}

	.slider {
		height: 246px;
	}

	.arrow {
		height: 246px;
	}

	.slider__article {
		padding-top: 93px;
		width: 48%;
		margin-left: 5%;
		margin-left: 4%;
	}

	.slider__title {
		font-size: 36px;
	}

	.slider__subtitle {
		margin-top: 2px;
		font-size: 18px;
		height: 18px;
	}

	.slider__text {
		display: none;
	}

	.slider__img {
		width: 192px;
		margin-right: 11px;
		margin-top: -9px;
	}

	.selector--dark {
		top: 269px;
		left: 184px;
	}

	/*CONTAINER_2*/

	.about {
		margin-left: 15%;
		margin-bottom: 25px;
		width: 85%;
	}

	.about__text {
		height: 76px;
	}

	.about__readmore {
		margin-right: 6px;
	}

	.about--dialog {
		margin-top: 0;
	}

	.about--music {
		margin-top: 0;
		margin-bottom: 72px;
	}

	/*CONTAINER_3*/

	.people {
		padding-top: 70px;
		padding-bottom: 89px;
	}

	.testimonials {
		float: none;
		margin-left: 24px;
		width: 95%;
	}

	.testimonials__title {
		font-size: 30px;
		padding-top: 27px;
	}

	.testimonials__title span {
		display: inline;
	}

	.testimonials__text {
		padding-top: 14px;
	}

	.selector--light {
		left: 162px;
	}

	.updates {
		float: none;
		padding-top: 31px;
		margin-left: 15%;
		width: 78%;
	}

	
	/*CONTAINER_4*/

	.cont_4 {
		height: auto;
	}

	.brands {
		padding-top: 28px;
		padding-bottom: 35px;
		width: 350px;
		margin: 0 auto;
	}

	.brands__item {
		margin: 10px 23px;
	}

	/*CONTAINER_5*/

	.prefooter {
		padding-top: 77px;
		padding-bottom: 32px;
	}

	.prefooter__box {
		float: none;
		width: 100%;
		padding: 0;
	}

	.prefooter__text {
		height: 152px;
	}

	.prefooter__box--copyright .prefooter__text {
		height: 152px;
	}

	/*FOOTER*/

	.menu--footer {
		margin: 0 auto;
		width: 430px;
	}

	.menu--footer .menu__item {
		display: block;
		float: left;
		margin-right: 22px;
	}

	.menu--footer .menu__item:last-child {
		margin-right: 0;

	}

	.design {
		float: none;
		text-align: center;
	}

}

@media screen and (max-width: 479px) {

	/*CONTAINER_1*/

	.container_1 {
		height: 516px;
	}

	.slider_bg {
		background: none;
	}

	.slider__article {
		float: none;
		width: 74%;
		max-width: 235px;
		margin: 0 auto;
	}

	.slider__img {
		display: none;
	}

	.selector--dark {
		top: 229px;
		left: 110px;
	}
	
	/*CONTAINER_2*/
	
	.about {
		margin-top: 70px;
		margin-left: 25%;
		width: 73%;
	}

	.about--dialog {
		margin-top: 0;
	}

	.about--music {
		margin-top: 15px;
		margin-bottom: 64px;
	}

	/*CONTAINER_3*/

	.testimonials {
		margin-left: 27px;
		width: 90%;
	}

	.testimonials__title {
		padding-top: 24px;
		font-size: 24px;
	}

	.testimonials__title span {
		display: block;
	}

	.testimonials__text {
		padding-top: 4px;
		padding-left: 44px;
		height: 168px;
	}

	.selector--light {
		left: 100px;
	}

	.updates {
		margin-left: 2%;
		width: 98%;			
	}

	.updates__link {
		width: 98%;
	}

	/*CONTAINER_4*/

	.brands {
		padding-top: 23px;
		padding-bottom: 22px;
		margin: 0 auto;
		width: 250px;
	}

	.brands__item {
		margin: 30px 18px;
	}

	.container_5 {
		display: none;
	}

	.menu--footer {
		display: none;
	}

	.design {
		padding-top: 42px;
	}
}
