@media screen and (max-width: 960px) {
	.wrapper {
		width: 100%;
	}

	.slider__article {
		width: 52%
	}

	.slider__subtitle {
		height: 32px;
		overflow: hidden;
	}

	.slider__text {
		height: 144px;
		overflow: hidden;
	}

	.slider__img {
		margin-right: 7%;

	}

	.about {
		width: 24%;
		/*margin: 77px 50px 70px 63px;*/
		margin-left: 6%;
		margin-right: 5%;


	}

	.testimonials {
		width: 46%;
	}

	.testimonials__text {
		height: 168px;
		overflow: hidden;
	}

	.updates {
		width: 47%;
	}

	.updates__link span {
		height: 16px;
		overflow: hidden;
	}

	.brands {
		margin-left: 6%;
	}

	/*.brands__item {
		margin-left: 10%;
		margin-right: 10%;
	}*/

	

	.prefooter__box {
		width: 29%;
	}

	.prefooter__box--copyright {
		padding-right: 6%;

	}

	.prefooter__box--commentst {
		padding-right: 6%;
	}
	
}



@media screen and (max-width: 768px) {

	.wrapper {
		width: 95%;
	}

	.container_1 {
		height: 798px;
	}

	.header {
	height: 244px;
	}

	.menu {
	float: left;
	margin-top: 22px;
	}

	.slider__article{
		padding-top: 98px;
		margin-left: 24px;
		width: 38%;
	}
	
	.slider__title {
		font-size: 48px;
	}
	
	.slider__subtitle {
		margin-top: 8px;
		height: 26px;
		font-size: 24px;
		/*overflow: hidden;*/
		/*height: 36px;*/
		/*line-height: 36px;*/
	}

	.slider__text {
		/*overflow: hidden;*/
		height: 100px;
		line-height: 26px;
		font-size: 16px;
	}


	.slider__img {
		/*position: absolute;*/
		/*top: 50%;*/
		/*right: 11px;*/
		margin-top: -23px;
		margin-right: 11px;
		width: 39%;
	}

	.slider__img img {
		max-width: 100%;
	}



	.about {
		width: 23%;
		margin-left: 9%;
		margin-right: 2%;

	}

	.about__title {
		font-size: 24px;
	}

	.about__text {
		margin-top: 3px;
		height: 140px;
		overflow: hidden;


		/*font-size: 16px;*/
	}

	.about_readmore {
		margin: 12px 18px 0 0;
		font-size: 18px;
	}

	.testimonials {
		width: 44%;
		
	}

	.testimonials__title {
		font-size: 24px;
	}

	.testimonials__title span {
		display: block;
	}


	.testimonials__text {
		padding-top: 7px;
		height: 140px;
		overflow: hidden;
	}

	.updates {
		width: 45%;

	}

	.brands {
		margin-left: 0;
	}

	.brands__item {
		margin: 0 2.9%;
	}

	.prefooter {
		padding: 100px 0 96px;
	}

	.prefooter__box {
		/*width: 28%;
		padding-right: 9%;*/
	}

	.prefooter__title {
		font-size: 24px;
	}

	.prefooter__box--copyright .prefooter__title {
		font-size: 24px;
	}

	.prefooter__subtitle {
		display: none;
	}

	.prefooter__text {
		height: 165px;
		overflow: hidden;
	}

	.footer {
		height: 200px;
	}

	.menu--footer {
		margin: 0;
		padding-bottom: 37px;

	}
	.design {
		clear: both;
		margin-top: 0;

	}


}


@media screen and (max-width: 480px) {

	.wrapper {
		width: 92%;
	}

	.container_1 {
		height: 548px;
	}

	.header {
		height: 203px;
	}



	.logo {
		float: none;
		padding-top: 51px;
		margin: 0 0 0 34%;
		/*margin: 0 auto;*/
		/*width: 155px;*/
	}

	.menu .menu__item {
		float: none;
		display: none;
	}

	.menu .menu__item:first-child {
		display: block;
		/*float: none;*/
		/*margin: 0 auto;*/
	}

	.menu {
		/*position: static;*/
		margin: 24px 0 0 48%;
	}

	.slider {
		height: 246px;
	}

	.slider__article {
		padding-top: 93px;
		width: 49%;
		margin-left: 5%;
	}

	.slider__title {
		font-size: 36px;
	}

	.slider__subtitle {
		margin-top: 2px;
		font-size: 18px;
		height: 18px;
	}

	.slider__text {
		display: none;
	}

	.slider__img {
		width: 45%;
		margin-right: -6px;
		margin-top: -9px;
	}

	.about {
		/*float: none;*/
		margin-left: 15%;
		margin-bottom: 25px;
		width: 85%;
	}

	.about__text {
		height: 76px;

	}

	.about_readmore {
		margin-right: -9px;
	}

	.about--dialog {
		margin-top: 0;
		/*margin-bottom: 0;*/
	}

	.about--music {
		margin-top: 0;
		margin-bottom: 72px;
	}


	.people {
		padding-top: 70px;
	}

	.testimonials {
		float: none;
		margin-left: 24px;
		width: 95%;

	}

	.testimonials__title {
		font-size: 30px;
		padding-top: 27px;
	}



	.testimonials__title span {
		display: inline;
	}

	.testimonials__text {
		padding-top: 14px;
	}

	.updates {
		float: none;
		padding-top: 31px;
		margin-left: 15%;
		width: 78%;
	}

	.updates__readmore {
		margin-right: 0;
	}

	.cont_4 {
		height: auto;
	}

	.brands {
		padding-top: 30px;
		padding-bottom: 35px;
		width: 92%;
		margin: 0 auto;
	}

	.brands__item {
		margin: 10px 23px;

	}

	.brands__item:first-child {
		margin-left: 51px;
	}

	.prefooter {
		padding-top: 79px;
		padding-bottom: 37px;
	}

	.prefooter__box {
		float: none;
		width: 100%;
		padding: 0;
	}

	.prefooter__text {
		height: 150px;
	}

	.menu--footer {
		margin: 0;
	}

	.menu--footer .menu__item {
		display: block;
		float: left;
		/*margin: 0;*/
		margin-right: 22px;
	}

	.menu--footer .menu__item:last-child {
		margin-right: 0;

	}

	.design {
		float: none;
		text-align: center;
	}
}














@media screen and (max-width: 320px) {

	.container_1 {
		height: 516px;
	}

	.logo {
		/*width: 155px;
		margin: 0 auto;*/
		margin-left: 26%; 
	}

	.menu {
		margin-left: 47%;
	}

	.slider_bg {
		background: none;
	}

	.slider__article {
		float: none;
		width: 74%;
		margin: 0 auto;
	}

	.slider__img {
		display: none;
	}

	.about {
		margin-top: 70px;
		margin-left: 25%;
		width: 73%;

	}

	.about--dialog {
		margin-top: 0;
	}

	.about--music {
		margin-top: 15px;
		margin-bottom: 66px;
	}

	/*.people {
		padding-top: 67px;
	}*/

	.testimonials {
		margin-left: 27px;
		width: 90%;
	}

	.testimonials__title {
		padding-top: 24px;
		font-size: 24px;
	}

	.testimonials__title span {
		display: block;
	}

	.testimonials__text {
		padding-top: 4px;
		padding-left: 44px;
		height: 168px;

	}

	.updates {
		margin-left: 2%;
		width: 104%;			

	}

	.updates__link {
		/*height: 30px;*/
		width: 98%;
	}

	.updates__link span {
		width: 98%;

	}

	.brands {
		padding-top: 23px;
		padding-bottom: 25px;
	}

	.brands__item {
		margin: 30px 18px;
	}

	.brands__item:first-child {
		margin-left: 18px;
	}

	.container_5 {
		display: none;
	}

	.menu--footer {
		display: none;
	}

	.design {
		padding-top: 42px;
	}


}




}





	/*.updates__title {
		padding-top: 27px;
		padding-left: 17px;
	}*/
	/*.updates {
		width: 47%;
	}
	

	.updates__link span {
		height: 16px;
		overflow: hidden;
	}*/




}


/* @media screen and (max-width: 959px) {



	.wrapper {
		width: 100%;
	}

	nav {
		width: 63%;
		float: right;
	}
	.menu {
		width: 590px;
	}

	.menu__item {
		margin-left: 7%;
	}
	
nav {
		clear: both;

	}
	.menu {
		margin-top: 40px;
		float: left;
	}

	nav {
		width: 80%;
	}
	.menu__item {
		margin-left: 25%;
	}
.menu {
		width: 68%;
	}

	.menu__item {
		margin-left: 5rem;
	}
	.slider__article {
		width: 55%;
		width: 38%;
	}

	.slider__title {
		font-size: 48px;
	}
	
	.slider__subtitle {
		font-size: 24px;
		overflow: hidden;
		height: 36px;
		line-height: 36px;
	}

	.slider__text {
		font-size: 16px;
		line-height: 26px;
		height: 100px;
		overflow: hidden;
	}
	.slider__img {
		margin-right: 6%;
	}

	.about {
		width: 20%;
	}

	.testimonials {
		width: 44%;
	}

	.updates {
		width: 46%;
	}

	.brands {
		padding: 27px 0 0;
		height: 93px;
		display: flex;
		justify-content: center;
	}

	.brands__item {
		margin: 0 3%;
	}

	.prefooter__box {
		width: 28%;
	}

	

}

@media screen and (max-width: 767px) {

	nav {
		float: left;
		margin-top: 40px;
	}

	.menu__item:first-child {
		margin: 0;
	}

	.slider__article {
		width: 34%;
	}

	.slider__img {
		margin-right: 6%;
	}

	.about {
		margin: 75px 40px 75px 60px;

	}
}
 */