@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:  'League Gothic', Tahoma, sans-serif;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	color: #454545;
}

/*CONTAINER_1*/

.container_1 {
	height: 846px;
	background:  url(../img/bg.jpg) top center no-repeat;
	background-size: cover;
}

.header {
	height: 278px;
}

.logo {
	float: left;
	padding-top: 51px;
	text-indent: -10000px;
	line-height: 0;
}

.logo__link {
	display: block;
	background: url(../img/logo.png) no-repeat; 
	height: 70px;
	width: 155px;
}

.menu {
	float: right;
	margin-top: 74px;
}

.menu__item {
	float: left;
	font-size: 24px;
	margin-left: 52px;
}

.menu__item:first-child {
	margin: 0;
}

.menu__link {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 3px #545354;
}

.menu__link:hover {
	border-bottom: 2px solid #edbfff;
}

/*HIDDEN MENU*/

.menu--hidden {
	display: none;
	position: absolute;
	width: 245px;
	border: 1px solid black;
	border-radius: 10px;
	background: rgba(54,41,46,0.75);
	z-index: 2;
	top: -12px;
	left: -105px;
}

.menu--hidden .menu__item--hidden {
	display: block;
	float: none;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #35273d;
	border-top : 1px solid #695272;
}

.menu--hidden .menu__link--hidden {
	display: block;
	margin: 0 auto;
	line-height: 40px;
	border-bottom: 2px solid transparent;
	text-decoration: none;
	color: white;
}

.menu--hidden .menu__item--hidden:first-child {
	border-top: none;

}
.menu--hidden .menu__item--hidden:first-child .menu__link--hidden {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	line-height: 45px;
}

.menu--hidden .menu__item--hidden:last-child{
	border-bottom: none;
}

.menu--hidden .menu__item--hidden:last-child .menu__link--hidden {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.menu--hidden .menu__link--hidden:hover {
	border-bottom: 2px solid #edbfff;
	background: rgba(54, 41, 62, 0.8);
}

.slider_bg {
	position: relative;
	background: rgba(0,0,0,0.2);	
}

.arrow {
	position: relative;
	width: 3%;
	height: 400px;
}

.arrow--left {
	float: left;
}
.arrow--right {
	float: right;
}

.arrow__link {
	display: block;
	position: absolute;
	height: 34px;
	width: 22px;
	top: 50%;
	margin-top: -17px;	
}

.arrow__link--left {
	background: url(../img/arrow_left.png) center no-repeat;
	left: 0;	
}

.arrow__link--right {
	background: url(../img/arrow_right.png) center no-repeat;
	right: 0;
}

.slider {
	position: relative;
	height: 400px;
}

.slider__article {
	float: left;
	padding-top: 78px;
	width: 500px;
}

.slider__title {
	font-size: 60px;
	color: white;
	text-shadow: 0px 2px 2px #545354;
}

.slider__subtitle {
	font-size: 32px;
	color: #edbfff;
	text-shadow: 0px 2px 2px #545354;
}

.slider__text {
	font-family: 'Open Sans', sans-serif;
	margin-top: 5px;
	line-height: 24px;
	font-size: 18px;
	color: white;
}

.slider__img {
	float: right;
	margin-top: -16px;
	margin-right: 70px;
}

.selector {
	position: absolute;
	top: 494px;
}

.selector--dark {
	left: 712px;	
}

.selector__item {
	display: inline-block;
	margin-right: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3);
}

.selector__link {
	display: block;
	margin-top: 3px;
	margin-left: 3px;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	text-decoration: none;
	/*transition: all 0.5s ease-in;*/
}

.selector__link--active {
	background: #e7e7e7;
}

.selector__link:hover {
	background: #e7e7e7;
}

/*CONTAINER_2*/

.container_2 {
	position: relative;
	background: #745082;
	background: -moz-linear-gradient(top, #745082 0%, #33263a 100%);
	background: -webkit-linear-gradient(top, #745082 0%,#33263a 100%);
	background: linear-gradient(to bottom, #745082 0%,#33263a 100%);
	border-top: 1px solid black;
	border-bottom: 1px solid white;
	color: white;
	z-index: 1;
	-webkit-box-shadow: 0px 9px 5px -4px rgba(219,219,219,1);
	-moz-box-shadow: 0px 9px 5px -4px rgba(219,219,219,1);
	box-shadow: 0px 9px 5px -4px rgba(219,219,219,1);
}

.about {
	position: relative;
	float: left;
	width: 223px;
	margin: 76px 50px 68px 58px;
	color: white;
}

.about:last-child {
	margin-right: 0;
}

.about__title {
	font-family:  'League Gothic', Tahoma, sans-serif;
	font-size: 30px;
	text-shadow: 1px 1px 2px black;
}

.about__text {
	margin: 8px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: -0.1px;
	text-shadow: 1px 1px 2px black;
}

.about__readmore {
	float: right;
	margin: 19px 5px 0 0;
	text-decoration: none;
	font-size: 20px;
	color: white;
}

.about__readmore:hover {
	text-shadow: 1px 1px 8px #fff;
}

.about:before {
	content: '';
	width: 28px;
	height: 29px;
	position: absolute;
	top: 5px;
	left: -54px;
	background: url(../img/icons.png) no-repeat;
}

.about--dialog:before {
	background-position: -29px 0;
}

.about--music:before {
	background-position: -59px 0;
}

/*CONTAINER_3*/

.container_3 {
	background: #f9f9f9;
}

.people {
	padding: 99px 0 86px;
}

.testimonials {
	float: left;
	position: relative;
	margin-left: 23px;
	height: 300px;
	width: 430px;
	background: url(../img/test.png) no-repeat;
}

.testimonials__title {
	padding: 29px 0 0 40px;
	font-family:  'League Gothic', Tahoma, sans-serif;
	font-size: 30px;
}

.testimonials__title span {
	color: #edbfff;
}

.testimonials__text {
	padding: 10px 25px 0 40px;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
	font-size: 16px;
}

.testimonials:before {
	content: '';
	width: 50px;
	height: 51px;
	position: absolute;
	top: 18px;
	left: -23px;
	background: url(../img/face.png) no-repeat;
}

.selector--light {
	top: 295px;
	left: 173px;
}

.selector--light .selector__item {
	margin-right: 2px;
	border: 1px solid #dadada;
	background-color: #fff;
}

.selector--light .selector__link--active{
	border: 1px solid black;
	background: #626262;
}



.selector--light .selector__link:hover {
	border: 1px solid black;
	background: #626262;
}

.updates {
	float: right;
	width: 450px;
}

.updates__title {
	padding: 30px 0 7px 0;
	font-family:  'League Gothic', Tahoma, sans-serif;
	font-size: 30px;
}

.updates__upd {
	padding: 12px 0 12px 65px;
	background: url(../img/upd1.png) 0 7px no-repeat;
}

.updates__link {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: black;
	font-weight: 900;
}

.updates__posted {
	display: block;
	margin-top: 8px;
	font-weight: normal;
}

.updates__readmore {
	float: right;
	margin: 16px 20px 0;
	text-decoration: none;
	font-size: 18px;
	color: #454545;
}

.updates__upd--2 {
	background: url(../img/upd2.png) 0 7px no-repeat;
}

.updates__upd--3{
	background: url(../img/upd3.png) 0 7px no-repeat;
}

/*CONTAINER_4*/

.container_4 {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.cont_4 {
	height: 120px;	
}

.brands {
	padding-top: 24px;
	margin-left: 62px;
}

.brands__item {
	float: left;
	margin: 0 32px;
}

.brands__link {
	display: block;
	height: 65px;
	width: 70px;
	background: url(../img/logos.png);
}

.brands__link--2 {
	background-position: -135px 0;
}

.brands__link--3 {
	background-position: -270px 0;
}

.brands__link--4 {
	background-position: -400px 0;
}

.brands__link--5 {
	width: 105px;
	background-position: -525px 0;
}

.brands__link--6 {
	width: 78px;
	background-position: -697px 0;
}

/*CONTAINER_5*/

.container_5 {
	background: #ececec;
}

.prefooter {
	padding: 94px 0 94px;
}


.prefooter__box {
	float: left;
	width: 280px;
}

.prefooter__title {
	font-family:  'League Gothic', Tahoma, sans-serif;
	font-size: 30px;
	text-shadow: 1px 1px 3px #fff;
}

.prefooter__subtitle {
	margin-top: 14px;
	font-family:  Georgia, Tahoma, sans-serif;
	font-style: italic;
	font-size: 16px;
	color: #c5c5c5;
	text-shadow: 1px 1px 3px #fff;
}

.prefooter__text {
	margin-top: 10px;
	line-height: 24px;
	height: 168px;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #787878;
	text-shadow: 0px 1px 0px #fff;
}

.prefooter__box--copyright {
	padding-right: 43px;
}

.prefooter__box--copyright .prefooter__title {
	font-size: 48px;
}

.prefooter__box--copyright .prefooter__title span {
	color: #bcbcbc;
}

.prefooter__box--copyright .prefooter__text {
	height: 120px;
}

.prefooter__box--commentst {
	padding-right: 60px;
}

/*FOOTER*/

.container_6 {
	background: url(../img/bg_footer.jpg) no-repeat;
	background-size: cover;
}

.menu--footer {
	clear: both;
	float: left;
	margin-top: 0;
	padding: 46px 0 48px 0;
}

.menu--footer .menu__item {
	font-size: 20px;
	margin: 0 43px 0 0;
}

.design {
	float: right;
	margin-top: 54px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: white;
	text-shadow: 1px 1px 3px #545354;
}

.design span {
	font-weight: 900;
}