<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search Js15_16</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<form action="" id="search">
		<input type="text">
		<input type="submit" value="Google Search">
	</form>

	<script type="text/html" id="searchResults">
		<ul>
			<% $.each(results, function(i, val){ %>
				<li>
					<a href= <%= val.url%> title= <%= val.url%> target="_blank"><%= val.title%></a>
					<p class="link"><%= val.url%></p>
					<p class="description"><%= val.content%></p>
				</li>
			<% });%>
		</ul>
		<ul class="pagination">
			<%for (var k=0; k<8; k++){%>
				<li>
					<a href="#" class="pagination__number"><%= k+1 %></a>
				</li>
			<%}%>
		</ul>
	</script>	
</body>
</html>