.user-id__link:hover {
	background: #ccc;
}


.partner__img-wrapper {
	position: relative;
	z-index: -1;
}

.partners__search:hover {
	border: 2px solid #ccc;
	background: #ccc;
}

.grid-wrapper img,
.grid-wrapper .grid-caption {
	position: relative;
	z-index: -1;
}

.overlay {
	background: rgb(0, 0, 0);
 	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.footer__block {
	width: 230px;	
}

@media screen and (min-width: 768px) {
	
	.promo__title {
		width: 600px;
	}

	.promo__subtitle {
		width: 100%;	
	}

	.footer__design {
	span {
		margin-right: 0;
		letter-spacing: normal;
	}
}
}
