/*@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,300italic);*/
/*@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);*/
/*@import url(https://fonts.googleapis.com/css?family=Marck+Script);*/
/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);*/

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

body {
	font-family: Arial, sans-serif;
	/*font-family: 'Lato', Verdana, sans-serif;*/
	/*font-family: 'Montserrat', sans-serif;*/
}

section {
	width: 960px;
	margin: 0 auto;
}

section * {
	box-sizing: content-box;
}

section h1,
section h2 {
	margin: 0;
}

.wrapper--gradient {
	background: linear-gradient(180deg,#fff 1%,#ededed);
}

/*Hero section*/

.hero {
	padding: 80px 0;
}

.help {
	float: left;
	width: 400px;
	padding-right: 100px;
}

.help__title {
	line-height: 80px;
	font-size: 45px;
}

.help__caption {
	width: 300px;
	line-height: 30px;
	font-size: 20px;
	color: #333;
}

.help__button {
	display: block;
	margin: 30px 0 20px 0px;
	width: 280px;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: #3d3d3d;
	border-radius: 5px;
	border: 1px solid #F28C2E;
	background: #FCD62F;
}

.help__button:hover {
	background: #F9DC68;
	color: #3d3d3d;
	text-decoration: none;
}

.help__info {
	position: relative;
	margin-left: 10px;
	line-height: 20px;
	color: #A3969A;
}

.help__info--works:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 90px;
	width: 60px;
	height: 24px;
	background: url(../img/word.png) 36px 0 no-repeat, url(../img/outlook.png) 0 0 no-repeat;
	background-size: 24px auto;
}

.calculator {
	float: left;
	width: 400px;
	padding-left: 60px;
	background: #fff;
	padding-top: 20px;
	margin-top: 20px;
	font-family: Verdana, sans-serif;
	font-size: 26px;
}

.calculator__title {
	position: relative;
	padding-bottom: 10px;
	line-height: 40px;
	padding-left: 30px;
	text-transform: uppercase;
}

.calculator__title:before {
	content: '';
	display: block;
	position: absolute;
	top: 8px;
	left: 0;
	width: 24px;
	height: 24px;
	background: url(../img/calculator.png);
}

.calculator__form {
	padding: 10px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.calculator__selector {
	position: relative;
	font-size: 14px;
	color: #007f00;
	line-height: 40px;
	text-transform: uppercase;
}

.calculator__select,
.calculator__pages {
	position: absolute;
	top: 4px;
	right: 8px;
	width: 200px;
	height: 30px;
	border-radius: 5px;
	font-size: 14px;
	color: #000;
}

.calculator__pages {
	width: 198px;
}

.calculator__words-total {
	margin-left: 190px;
	line-height: 26px;
	font-size: 14px;
	color: #007f00;
}


.calculator__total {
	padding: 5px 0;
}

.calculator__sign,
.calculator__money-amount {
	color: #F28C2E;
}

.calculator__price {
	float: left;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
}

.calculator__button {
	display: block;
	float: right;
	line-height: 40px;
	margin-right: 8px;
	width: 200px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	background: #00aced;
}

.calculator__button:hover {
	color: #333;
	text-decoration: none;
}

/*Grammar section*/

.essayplus {
	padding: 60px 0 120px;
	background: url(../img/grammar.png) no-repeat;
	background-size: 320px auto;
	background-position: 100% 40%;
	border-bottom: 1px solid #eee;
}

.article {
	width: 540px;
}

.article__title {
	font-size: 45px;
}

.article__text {
	margin: 20px 0 10px 0;
	line-height: 24px;
	font-size: 18px;
	font-weight: 300;
	color: #333;
}

.article__info {
	position: relative;
	line-height: 24px;
	padding-left: 40px;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
}

.article__info:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	background: url(../img/info.png);
}

/*Spell-check section*/

.spell-check {
	position: relative;
	padding: 60px 0 120px;
}

.spell-check:before {
	content: '';
	display: block;
	position: absolute;
	top: 60px;
	left: -20px;
	width: 580px;
	height: 360px;
	background: url(../img/mail.png) no-repeat;
	background-size: 580px auto;
	/*background-position: 0% 30%;*/
	box-shadow: 0px 0px 20px 0px rgba(173,171,173,1);
}

.article--spell {
	width: 360px;
	margin-left: 620px;
}

/*Survey section*/

.article--survey {
	width: 100%;
	text-align: center;
	height: 200px;
}


/*Steps section*/

.wrapper--easy {
	background: #f1f1f1;
}

.steps {
	position: relative;
	padding: 10px 0 100px;
}

.steps__title {
	font-size: 45px;
	line-height: 140px;
}

.steps__item {
	position: relative;
	float: left;
	padding: 0 10px 0 40px;
	width: 280px;	
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}

.steps__item:before {
	content: '1';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	/*height: 24px;*/
	border-radius: 28px;
	background: #1eb771;
	line-height: 28px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.steps__item--one {
	width: 250px;
}

.steps__item--two:before {
	content: '2';
}

.steps__item--three:before {
	content: '3';
}

.steps__note {
	display: block;
	font-size: 16px;
	font-style: italic;
	color: #333;
}

.steps__button {
	display: block;
	position: absolute;
	top: 55px;
	right: 0;
	line-height: 60px;
    padding: 0 40px;
    border-radius: 100px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #FCD62F;
    /*background: #FCD62F;*/
    /*box-shadow: inset 0 -1px 0 #de210d,inset 0 1px 0 #ea6756;*/
}

.steps__button:hover {
	background: #F9DC68;
	text-decoration: none;
	/*background: linear-gradient(180deg,#ea6756 0,#d0352c);*/
}

/*Matter section*/

.matter {
	padding: 260px 0 20px;
	border-bottom: 1px solid #eee;
	background: url(../img/matter.png) no-repeat;
	background-size: auto 194px;
	background-position: 50% 5%;
}

.matter__title {
	margin: 0 auto;
	width: 720px;
	font-size: 45px;
	line-height: 100px;
	text-align: center;
}

.matter__text {
	margin: 0 auto;
	width: 720px;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 40px;
	color: #333;
}

/*Interested section*/

.interested {
	padding: 30px 0 50px;
}

.interested__title {
	font-size: 34px;
	text-align: center;
	line-height: 60px;
}

.interested__subtitle {
	text-align: center;
	line-height: 60px;
	font-size: 18px;
	font-weight: 300;
}

.interested__block {
	float: left;
	padding-left: 20px;
	width: 220px;
	height: 150px;
	border-left: 1px solid #eee;
}

.interested__block--first{
	padding: 0;
	border: none;
}

.block__title {
	font-size: 20px;
	line-height: 40px;	
}

.block__link {
	font-size: 16px;
	line-height: 30px;
	text-decoration: none;
	color: #0087ba;
}

.block__link:hover {
	color: #004864;
	text-decoration: none;
}

.block__title--small {
	font-size: 18px;
	line-height: 26px;
}

.block__text {
	margin: 20px 16px 0 0;
	line-height: 18px;
	font-size: 14px;
}

.interested__block:last-child {
	text-align: center;
}

.block__button {
	display: block;
	margin: 30px auto;
	width: 120px;
	line-height: 40px;
	text-decoration: none;
	font-size: 18px;
	color: #0087ba;
	background: linear-gradient(180deg,#fff 1%,#ededed);
	border: 1px solid #ddd;
	border-radius: 5px;
}

.block__button:hover {
	background: linear-gradient(360deg,#fff 1%,#ededed);
	text-decoration: none;
}

.block__account {
	text-decoration: none;
	color: #0087ba;
}

.block__account:hover {
	color: #004864;
}


/*Testimonials section*/

.wrapper--testimonials {
	/*background: #194252;*/
	background: #13323e;
}

.testimonials {
	padding-bottom: 120px;
}

.testimonials__title {
	font-size: 36px;
	line-height: 120px;
	color: #c0cbcf;
	text-align: center;
}

.testimonials__item {
	padding: 20px 40px;
	margin: 0 auto;
	width: 720px;
	background: #466774;
	border-radius: 10px;
}

.testimonials__feed-block {
	float: left;
	width: 420px;
	height: 150px;
	border-right: 1px solid #eee;
}

.testimonials__caption {
	color: #a3b3b9;
}

.testimonials__stars,
.testimonials__rate {
	color: #ffdb1b;
}

.testimonials__stars {
	margin-left: 30px;
	font-weight: bold;
}

.testimonials__feed {
	margin-top: 10px;
	width: 360px;
	line-height: 24px;
	font-size: 18px;
	color: #fff;
}

.testimonials__add-block {
	float: left;
	padding-left: 40px;
	width: 258px;
	color: #ddd;
}

.testimonials__tags {
	font-weight: bold;
}

.testimonials__essay {
	margin-top: 10px;
}

.testimonials__id {
	font-weight: 300;
}

.testimonials__user {
	position: relative;
	line-height: 30px;
	margin-top: 20px;
	padding-left: 40px;
	font-weight: bold;
}

.testimonials__username {
	color: #0078a5;
}

.testimonials__user:before {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	left: 0;
	width: 24px;
	height: 24px;
	background: url(../img/user.png);
}


/*Assignment Section*/

.assignment {
	padding-bottom: 60px;
}

.assignment__title {
	line-height: 180px;
	font-family: 'Tangerine', cursive;
	font-size: 64px;
	text-align: center;
}

.assignment__button {
	display: block;
	line-height: 60px;
	margin: 0 auto;
	width: 240px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	background: #00aced;
}

.assignment__button:hover {
	color: #333;
}


