<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Masonry IE test</title>

	<meta http-equiv="Cache-Control" content="no-cache" />

	<link rel="stylesheet" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>

</head>
<body>

	<div class="activities__field clearfix">
		


		<script type="text" id="images">
			<div class="grid">
				<div class="grid-sizer"></div>

				<% for ( var i = 0; i < data.length; i++ ) { %>
				<div class="grid-item">
					
						<img src="<%= data[i].imageurl %>" alt="<%= data[i].word %>">
					
				</div>
				<% } %>
			</div>
		</script>
	
	</div>
	<section class="activ-search">
			<h3 class="activ-search__title">Discover holiday activity ideas</h3>
			<p class="activ-search__subtitle">Hi! What are your holiday interests?</p>
			<form class="activ-search__form clearfix" action="" id="activ-search">
				<input class="activ-search__in" type="text" placeholder="Enter your interests">
				<input class="activ-search__sub" type="submit" value="Search partners">
			</form>
		</section>
</body>
</html>